[Unit]
Description=Downloads the newest mainsender and executes it

[Service]
Type=simple
ExecStart=/opt/roboterteam1/downloadservice.sh

[Install]
WantedBy=multi-user.target